body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none;
}

/* Header CSS */
.header {
    padding: 12px 0;
    background-color: rgb(24, 23, 23);
}

.header-content {
    display: flex;
    flex-direction: row;
    padding-top: 38px;
    padding-bottom: 142px;
}

.logo-content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.logo-container {
    font-size: 0;
}

.logo-img1 {
    height: 39px;
    width: 36px;
    padding: 0px 12px;
    padding-left: 6.5rem;
    padding-top: 3px;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);
}

.logo-text {
    font-size: 24px;
    color: #fff;
}

.logo-company {
    color: #fff;
    font-size: 8px;
    letter-spacing: 2px;
    align-items: right;
}

ol,ul {
	list-style: none;
}

#mainMenu {
    font-family: Montserrat;
    width: 200%;
    padding-top: 0px;
}

#mainMenu li {
	display:flex;
    justify-content: flex-end;
    line-height: 2;
	float:left;
}

#mainMenu a {
	display: block;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
}
li {
    padding-right: 40px;
}

.nav {
    padding-left: 250px;
}

.container {
    display: inline-block;
    cursor: pointer;
}
  
.bar1 {
    width: 21px;
    height: 2px;
    background-color: #fff;
    margin: 24px 4px 0;
}
.bar2 {
    width: 21px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}
.bar3 {
    width: 16px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    transform: rotate(180deg);
}

.bar1, .bar2, .bar3 {
    margin-left: 10rem;
}


/* Footer CSS */
.footer-container {
    height: 94%;
    width: 100%;
    background-color: #161f1e;
}

.logo-content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img2 {
    height: 39px;
    width: 36px;
    padding: 0px 12px;
    padding-left: 6.5rem;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);
}

.foot-main {
    color: hsla(0,0%,100%,.75);
    font-family: messina-sans;
    text-transform: uppercase;
    font-size: .6rem;
    margin-bottom: .75rem;
    letter-spacing: -.01em;
    font-family: Montserrat;
    padding-left: 39px;
}

h4 {
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.foot-nav {
    display: flex;
    padding-left: 28rem;
}

a {
    text-decoration: none;
    line-height: 2;
    font-size: 0.8rem;
    color: #fff;
}

.foot-items {
    padding-top: 120px;
}

.foot-menu:not(:last-child) {
    margin-bottom: .25rem;
}

.foot-link {
    position: relative;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    font-family: Montserrat;
    padding-top: 6rem;
}

.foot-end {
    font-family: Montserrat;
    padding: 144px 20px 20px 96px;
    display: flex;
    font-size: 0.7rem;
    opacity: 0.75;
    color: hsla(0,0%,100%,.75);
}