body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgb(22, 22, 22);
    /* user-select: none; */
}

/* Header CSS */
.header-content {
    display: flex;
    min-height: 35%;
    width: 100%;
    align-items: center;
    background-color: rgb(23, 23, 23);
}

.item-container {
    display: flex;
    width: 100%;
    margin: 0 50px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo-content1 {
    width: 40%;
}

.logo-img1 {
    height: 6vh;
    width: 19vw;
}

.nav-content {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    font-family: Montserrat;
}

.container {
    cursor: pointer;
}
  
.bar1, .bar2 {
    width: 21px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}
.bar3 {
    width: 16px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}



/* Footer CSS */
.footer-container {
    height: 65%;
    width: 100%;
    background-color: #161f1e;
}

.all-foot {
    display: flex;
    padding: 0px 70px;
    align-items: center;
}

.logo-img2 {
    height: 39px;
    width: 36px;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(100%);
}
.logo-content2 {
    width: 25%;
    padding-left: 50px;
}

.foot-main {
    color: hsla(0,0%,100%,.75);
    font-family: messina-sans;
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 600;
    letter-spacing: -.01em;
    font-family: Montserrat;
    padding-left: 39px;
}

h4 {
    font-weight: 200;
}

a {
    text-decoration: none;
    line-height: 2;
    font-size: 0.7rem;
    color: #fff;
}
ul {
    list-style: none;
}

.foot-items {
    width: 100%;
    margin-left: 33rem;
    margin-top: 20px;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    margin-top: 50px;
    font-family: Montserrat;
}

.foot-end {
    font-family: Montserrat;
    padding: 0px 60px;
    font-size: 0.82rem;
    opacity: 0.75;
    color: hsla(0,0%,100%,.75);
}

/* Media Queries */

@media screen and (max-width:600px) {
    .nav-content {
        display: none;
    }    
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo-content2 {
        padding-left: 0px;
    }
    .foot-items {
        width: 33%;
        margin-left: 8rem;
        margin-top: 20px;
    }
    .footer-container {
        height: 40%;
    }
    .footer-main {
        flex-wrap: nowrap;
    }
    .foot-end {
        padding-left: 120px;
    }
}

/* Mobile Phones */
@media screen and (min-width: 360px) and (max-width: 640px) {
    .all-foot {
        padding: 0px 7px;
        flex-flow: column;
        align-items: unset;
    }
    .logo-content2 {
        padding-left: 40px;
        padding-top: 32px;
    }
    .foot-items {
        margin-left: 0px;
        margin-top: 10px;
    }
    .footer-main {
        margin-top: 0px;
    }
    .foot-end {
        font-size: 0.55rem;
        padding: 0px 47px;
    }
}

/* mini Phones */
@media screen and (min-width: 240px) and (max-width: 320px) {
    .all-foot {
        padding: 0px 7px;
        flex-flow: column;
        align-items: unset;
    }
    .logo-content2 {
        padding-left: 40px;
        padding-top: 32px;
    }
    .foot-items {
        margin-left: 0px;
        margin-top: 10px;
    }
    a {
        font-size: 9px;
    }
    .foot-main {
        font-size: 9px;
    }
    .footer-main {
        margin-top: 0px;
    }
    .foot-end {
        font-size: 0.55rem;
        padding: 0px 47px;
    }
    .footer-container {
        height: 85%;
    }
}