html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
 body {
    background-color: whitesmoke;
 }

/* Header */

.home_header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 126%;
}

.header-content {
    position: absolute;
    width: 100%;
    text-align: center;
    color: initial;
    min-height: unset;
}

.item-container {
    position: absolute;
    top: 76px;
    left: -100px;
    font-weight: 900;
    color: #FFFFFF;
    z-index: 5;
}

.close-img {
    top: 68px;
    right: 57px;
}

.menubar {
    z-index: 10;
}

.hvideo {
    height: 24vh;
}

.htitle {
    color: #FFFFFF;
    position: absolute;
    font-family: 'Spectral', serif;
    font-weight: lighter;
    top: 232px;
    left: 230px;
    backface-visibility: hidden;
    will-change: transform;
}

.htitle1 {
    font-size: 4.9rem;
    margin-bottom: -60px;
}

.htitle2 {
    font-size: 4.5rem;
    letter-spacing: 5px;
    margin-left: 10px;
}

.hscroll {
    position: absolute;
    color: #fff;
    opacity: 0.8;
    bottom: -347px;
    left: 120px;
}

/* section1 */

.section1 {
    background-image: url("/assets/home/sec1_img1.jpg");
    display: flex;
    height: 780px;    
    width: 100%;
    background-position: 67%;
    padding-top: 80px;
    padding-bottom: 150px;
}

.left-div{
    display: flex;
    flex-flow: column;
    margin-left: 7%;
    width: 40%;
}

.sec1_header{
    color: #000;
    font-weight: 200;
    font-family: 'Martel sans', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-left: 7%;
}

.welcome {
    margin-bottom: -30px;
}

.world {
    margin-bottom: -20px;
}

.section1_content{
    color: #777777;
    margin-top: 50px;
    font-size: .8rem;
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 7%;
}

.sec1_img2{ 
    height: 60%;
    width: 90%;
    /* margin-left: -1%; */
    padding-top: 8rem;
}

.right-div{
    height: 70%;
    width: 37%;
    margin-left: 7%;
}

.sec1_img3{
    height: 100%;
    width: 108%;
    margin-top: 22px;
}

/* section 2 */

.section2{
    display: flex;
    width: 100%;
    height: 180px;
    background-color: #fff;
    color: #000;
    margin-top: -261px;
}

.section2_content{
    color: #000;
    margin-top: 9%;
    margin-left: 10%;
}

.explore {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.our_world {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 3px;
    letter-spacing: 4px;
}

.arrows1 ul {
    position: relative;
    bottom: -155px;
    left: 750px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.arrows1 ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 3px 3px 3px 3px #888888;
    margin: 0 10px;
    border-radius: 50%;
}


.arrows1 ul li span {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #000;
}

.arrows1 ul li.prev span {
    top: 50%;
    left: 14%;
    transform: translateY(-50%) rotate(136deg);
    border-left: none;
    border-top: none;
}

.arrows1 ul li.prev span::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 4px;
    background-color: #000;
    transform-origin: right;
    transform: rotate(45deg) translate(0, 25px) scaleX(1);
}

.arrows1 ul li:hover {
    background: #000;
}

.arrows1 ul li span:hover {
    border: 4px solid #fff;
}

.arrows1 ul li.prev:hover span::before {
    background-color: #fff;
}

.arrows1 ul li.next span {
    top: 50%;
    right: 14%;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
}

.arrows1 ul li.next span::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 4px;
    background-color: #000;
    transform-origin: right;
    transform: rotate(45deg) translate(0, 25px) scaleX(1);
}

.arrows1 ul li.next:hover span::before {
    background-color: #fff;
}

/* section3 */

/* image trail */
.section3{
    height: 600px;
    margin: auto;
    margin-left: 0%;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.img_track{
    margin-top: 15px;
    display: flex;
    width: fit-content;
    background: #fff;
    animation: scroll 100s linear infinite;
}

.track{
    display: flex;
    align-items: center;
    padding-right: 15px;
    position: relative;
}

.track_main{
    position: absolute;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
    margin-top: 270px;
}
.track_sub{
    margin-top: -15px;
    margin-left:5px;
    color: #FFFFFFBF;
}

.track img{
    height: 450px;
    width: 350px;
    filter: brightness(70%);
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 25));
    }
}


/* section4 */

.section4{
    margin-top: 40px;
    background-color: whitesmoke;
}

.world_map{ 
    height: 1210px;
    margin-left: -20rem;
    background-position: 100%;
    width: 94%;
    background-image: url(../assets/home/globe.jpg);
    background-size: 832px 669px;
    margin-top: -227px;
    background-repeat: no-repeat;
}


.gtext1,.gtext2{
    margin-left: 7.7rem;
    font-size: 38px;
}

.gtext1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gtext2{
    font-family:'Courier New', Courier, monospace;
    letter-spacing: -0.2rem;
}

.description{
    padding-top: 10px;
    font-size: 15px;
    margin-left: 4.2rem;
    color: grey;
}

.places{
    display: flex;
    padding-top: 20px;
    margin-left: 7.9rem;
    font-size: 16px;
}

.places p {
    margin-right: 4%;
}

.description p{
    margin-left: 60px;
}

.place_box{
    background-color: rgb(23, 23,23);
}

.globe_main {
    display: flex;
    justify-content: space-between;
}

.right_div{
    width: 500px;
    height: 500px;
    position: relative;
    margin: 20px;
}
.stack_bottom{
    width: 107%;
    height: 94%;
    position: absolute;
    top: -830px;
    right: -22px;
    background-color: #161f1e;
    z-index: 2;
}

.stack_top {
    position: absolute;
}

/* section5 */

.section5 {
    height: 127%;
    margin-top: -810px;
    display: flex;
    flex-flow: row;
}

.img1 {
    cursor: pointer;
    height: 127vh;
    width: 34vw;
}

.img_title {
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 34px;
    margin-top: -390px;
    text-align: center;
}

.v_title {
    color: #fff;
    position: relative;
    bottom: 635px;
    left: 125px;
}

.p_text {
    color: #fff;
    width: 28%;
    position: relative;
    bottom: 612px;
    line-height: 2rem;
    left: 123px;
}

.btn {
    position: relative;
    bottom: 562px;
    left: 124px;
    border: 1px solid white;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    padding: 19px 36px;
}

.closebtn {
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%) contrast(104%);
    background-color: transparent;
    position: relative;
    bottom: 700px;
    left: 1100px;
    cursor: pointer;
    font-size: xxx-large;
    border: 0px;
}

.arrow1 ul {
    position: relative;
    bottom: -50px;
    left: 370px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 10;
}

.arrow1 ul li {
    list-style: none;
    width: 50px;
    height: 50px;
    background: transparent;
    box-shadow: 0px 0px 8px 0px #ffffff;
    margin: 0 10px;
    border-radius: 50%;
    transition: .5s ease;
}

.arrow1 ul li span {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    transition: .5s ease;
}

.arrow1 ul li.next span {
    top: 50%;
    right: 87.8%;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
}

.arrow1 ul li.next span::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 4px;
    background-color: #fff;
    transform-origin: right;
    transform: rotate(45deg) translate(0, 25px) scaleX(1);
}

.footer-container {
    height: 60%;
}


/* media queries */

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .section1 {
        margin-top: -569px;
    }
    .arrow1 ul {
        left: 495px;
    }
    .gtext1, .gtext2 {
        margin-left: 5rem;
    }
    .description {
        margin-left: 1.4rem;
    }
    .places {
        margin-left: -3.6rem;
    }
    .img1{
        height: 58vh;
    }
    .img_title {
        font-size: 25px;
        margin-top: -356px;
    }
    .arrow1 ul li.next span {
        right: 180%;
    }
    
}